.left{
    position: absolute;
    top: 50%;
    left:1%;
    user-select: none;
    pointer-events: none;
}

.right{
    position: absolute;
    top: 50%;
    right: 1%;
    user-select: none;
    pointer-events: none;
}